$introparency:0.13;
$fullwidth:100%;
$textshadowprops: 1px 1px 0 rgba(7,7,7, 0.08);


.well{
  box-shadow: 0px 2px 15px 0px rgba(7,7,7, 0.08);;
  background-color:white;
  h3{
    opacity:100;
  }
}


.nav navbar-nav{
  float:pull-right;
}

@media (min-width:1300px){
  .bg{
    background-image:url("../images/Intro_2k.gif");
    width:$fullwidth;
    height: 500px;
  }
  .jumbotron {
    //height: 500px;
    color: white;
    text-shadow: $textshadowprops;
    background:transparent;

    #pronounced{
      float:right;
      color:black;
      opacity:$introparency;
      font-size:45px;
      margin-top:-4%;

    }
  }
}




@media (max-width:1299px){
  .bg{
    background-image:url("../images/Intro_1300.gif");
    width:$fullwidth;
    height: 325px;
  }
  .jumbotron {
    //height: 325px;
    color: white;
    text-shadow: $textshadowprops;
    background:transparent;

    #pronounced{
      float:right;
      color:black;
      opacity:$introparency;
      margin-top:-4%;
    }
  }
}

@media (max-width:1000px){
  .bg{background-image:url("../images/Intro_1k.gif");
    height: 250px;
    width:$fullwidth;
  }
  .jumbotron {
    //height: 250px;
    color: white;
    text-shadow: $textshadowprops;
    background:transparent;

    #pronounced{
      float:right;
      color:black;
      font-size:26px;
      opacity:$introparency;
      margin-top:-4%;
    
    }
  }
}




@media (max-width:732px){
  .bg{
    background-image:url("../images/Intro_700.gif");
    width:$fullwidth;
    height:175px;
  }
  .jumbotron {
    //height: 175px;
    color: white;
    text-shadow: $textshadowprops;
    background:transparent;
    
    #pronounced{
      float:right;
      color:black;
      font-size:22px;
      opacity:$introparency;
      margin-top:-5%;

    }
  }
}


@media (max-width:500px){
  .bg{
    background-image:url("../images/Intro_500.gif");
    width:$fullwidth;
    height:125px;
  }
  .jumbotron {
    
    //height: 125px;
    color:white;
    text-shadow: $textshadowprops;
    background:transparent;

    #pronounced{
      float:right;
      color:black;
      font-size:16px;
      opacity:$introparency;
      margin-top:-5%;

    }
  }
}


