/* REMOVE ROUND EDGES FROM WELLS */
.well {
  border-radius: 0px; }

/* Center  MY PHOTOS text */
#myPhotos {
  text-align: center;
  transition: all 200ms ease-in; }

#myWork {
  text-align: center; }

.well-zero {
  opacity: 0; }

.fiftypacity {
  opacity: 0.935; }

.panel.panel-default {
  transition: all 200ms ease-in; }

.photocontainer {
  transition: all 300ms ease-in; }

.workdiv {
  color: red;
  height: 300px; }

.navbar.navbar-default.navbar-fixed-top.animated.bounce {
  transition: all 250ms ease-in; }

#home .welly {
  margin-bottom: 40px;
  background-image: none;
  background-color: rgba(127, 127, 127, 0); }
  #home .welly h2 {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%; }

.img-circle {
  opacity: 0;
  transition: all 200ms ease-in; }

.img-circle.center-block.zero-opacity {
  opacity: 1; }

/* ////////////// SERVICES STYLING /////////////////*/
#services .well {
  box-shadow: 0px 2px 15px 0px rgba(7, 7, 7, 0.08);
  background-image: url("../images/Wallpaper.png");
  background-repeat: no-repeat;
  padding-bottom: 10%;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 700px;
  padding-top: 5%; }
  #services .well h3 {
    text-align: center; }
  #services .well .panel-body {
    text-align: center; }
    #services .well .panel-body img {
      display: inline-block;
      float: center;
      width: 22%;
      height: auto; }

ul {
  position-right: 50px; }

@media (min-width: 1300px) {
  body {
    overflow-x: hidden; }
    body #navigation {
      float: right;
      margin-right: 5%; }

  .bg {
    margin-top: 8%;
    background-image: url("../images/Intro_2k.gif");
    background-repeat: no-repeat;
    width: 100%;
    height: 500px; }

  .jumbotron {
    color: white;
    text-shadow: 1px 1px 0 rgba(7, 7, 7, 0.08);
    background: transparent; }
    .jumbotron #pronounced {
      float: right;
      color: black;
      opacity: 0.13;
      font-size: 45px;
      margin-top: -4%; } }
@media (max-width: 1299px) {
  body {
    overflow-x: hidden; }
    body #navigation {
      float: right;
      margin-right: 5%; }

  .bg {
    background-image: url("../images/Intro_1300.gif");
    background-repeat: no-repeat;
    width: 100%;
    height: 325px;
    margin-top: 10%; }

  .jumbotron {
    color: white;
    text-shadow: 1px 1px 0 rgba(7, 7, 7, 0.08);
    background: transparent; }
    .jumbotron #pronounced {
      float: right;
      color: black;
      opacity: 0.13;
      margin-top: -4%; } }
@media (max-width: 1000px) {
  body {
    overflow-x: hidden; }
    body #navigation {
      display: inline-flex;
      padding: 0px;
      margin: 0px; }

  .bg {
    background-image: url("../images/Intro_1k.gif");
    background-repeat: no-repeat;
    height: 250px;
    width: 100%;
    padding-top: 50px;
    margin-top: 10%; }

  .jumbotron {
    color: white;
    text-shadow: 1px 1px 0 rgba(7, 7, 7, 0.08);
    background: transparent; }
    .jumbotron #pronounced {
      float: right;
      color: black;
      font-size: 26px;
      opacity: 0.13;
      margin-top: -4%; } }
@media (max-width: 732px) {
  #navigation {
    display: inline-flex;
    padding: 0px;
    margin: 0px; }

  .bg {
    background-image: url("../images/Intro_700.gif");
    background-repeat: no-repeat;
    width: 100%;
    height: 175px;
    margin-top: 10%; }

  .jumbotron {
    color: white;
    text-shadow: 1px 1px 0 rgba(7, 7, 7, 0.08);
    background: transparent; }
    .jumbotron #pronounced {
      float: right;
      color: black;
      font-size: 22px;
      opacity: 0.13;
      margin-top: -5%; } }
@media (max-width: 500px) {
  #navigation {
    display: inline-flex;
    padding: 0px;
    margin: 0px;
    resize: 50%;
    font-size: .9em; }

  .bg {
    background-image: url("../images/Intro_500.gif");
    background-repeat: no-repeat;
    width: 100%;
    height: 125px;
    margin-top: 20%; }

  .jumbotron {
    color: white;
    text-shadow: 1px 1px 0 rgba(7, 7, 7, 0.08);
    background: transparent; }
    .jumbotron #pronounced {
      float: right;
      color: black;
      font-size: 16px;
      opacity: 0.13;
      margin-top: -5%; } }

/*# sourceMappingURL=styles.css.map */
