// Sass Global Variables

$introparency:0.13;
$fullwidth:100%;
$textshadowprops: 1px 1px 0 rgba(7,7,7, 0.08);



/* REMOVE ROUND EDGES FROM WELLS */ 
 .well{
  border-radius:0px;
}

/* Center  MY PHOTOS text */
#myPhotos{
  text-align:center;
  transition: all 200ms ease-in;
}

// CENTER MY WORK TEXT ///
#myWork{
  text-align:center;
}

// Zero opacity to SERVICES WELL 

.well-zero{
  opacity:0;
}

// 50% Opacity for Nav Bar

.fiftypacity{
  opacity:0.935;
}

// panelbody transition

.panel.panel-default{
  transition: all 200ms ease-in;
}

// photography transition

.photocontainer{
  transition: all 300ms ease-in;
}

// WORK DIV Filler styles to  See if its all there//
.workdiv{
  color:red;
  height:300px;
}

// Nav Bar Opacity Transition
.navbar.navbar-default.navbar-fixed-top.animated.bounce{
  transition: all 250ms ease-in;
}

// HOME DIV
#home{
  .welly{
    margin-bottom:40px;
    background-image:none;
    background-color:rgba(127,127,127,0);
     h2{
      text-align: center;
      margin-left:25%;
      margin-right:25%

    }
  }
}

.img-circle{
  opacity:0;
  transition: all 200ms ease-in;
}


.img-circle.center-block.zero-opacity{
  opacity:1;
}

/* ////////////// SERVICES STYLING /////////////////*/
#services {

  .well{

  box-shadow: 0px 2px 15px 0px rgba(7,7,7, 0.08);;
  background-image:url("../images/Wallpaper.png");
  background-repeat: no-repeat;
  padding-bottom:10%;
  background-position: center center;
  background-attachment:fixed;
  background-size:cover;
  height:700px;
  padding-top:5%;
  //margin-top:-10%;

    h3{
      text-align: center;
    }
    .panel-body{
      text-align: center;
      img{
      display:inline-block;
      float:center;
      width:22%;
      height:auto;
      }
    }
  }// END WELL CLASS CLOSURE
}// END SERVICES CLOSURE

//NAV BAR POSITIONING
ul{
  position-right:50px;
}


///////////////////MEDIA QUERY FOR GIF /////////////////////

@media (min-width:1300px){

  body{
  #navigation{
    float:right;
    margin-right:5%;
  }
  overflow-x: hidden;
  }

  .bg{
    margin-top:8%;
    background-image:url("../images/Intro_2k.gif");
    background-repeat: no-repeat;
    width:$fullwidth;
    height: 500px;
  }
  .jumbotron {
    //height: 500px;
    color: white;
    text-shadow: $textshadowprops;
    background:transparent;

    #pronounced{
      float:right;
      color:black;
      opacity:$introparency;
      font-size:45px;
      margin-top:-4%;

    }
  }
}

@media (max-width:1299px){

  body{
  #navigation{
    float:right;
    margin-right:5%;
  }
  overflow-x: hidden;
  }

  .bg{
    background-image:url("../images/Intro_1300.gif");
    background-repeat: no-repeat;
    width:$fullwidth;
    height: 325px;
    margin-top:10%;
  }
  .jumbotron {
    //height: 325px;
    color: white;
    text-shadow: $textshadowprops;
    background:transparent;

    #pronounced{
      float:right;
      color:black;
      opacity:$introparency;
      margin-top:-4%;
    }
  }
}

@media (max-width:1000px){

   body{
    #navigation{
    display:inline-flex;
    padding:0px;
    margin:0px;
  }
  overflow-x: hidden;
  }

  .bg{
    background-image:url("../images/Intro_1k.gif");
    background-repeat: no-repeat;
    height: 250px;
    width:$fullwidth;
    padding-top:50px;
    margin-top: 10%;
  }
  .jumbotron {
    //height: 250px;
    color: white;
    text-shadow: $textshadowprops;
    background:transparent;

    #pronounced{
      float:right;
      color:black;
      font-size:26px;
      opacity:$introparency;
      margin-top:-4%;
    
    }
  }
}

@media (max-width:732px){
  #navigation{
    display:inline-flex;
    padding:0px;
    margin:0px;
  }

  .bg{
    background-image:url("../images/Intro_700.gif");
    background-repeat: no-repeat;
    width:$fullwidth;
    height:175px;
    margin-top:10%;
  }
  .jumbotron {
    //height: 175px;
    color: white;
    text-shadow: $textshadowprops;
    background:transparent;
    
    #pronounced{
      float:right;
      color:black;
      font-size:22px;
      opacity:$introparency;
      margin-top:-5%;

    }
  }
}


@media (max-width:500px){

  #navigation{
    display:inline-flex;
    padding:0px;
    margin:0px;
    resize: 50%;
    font-size:.9em;
  }

  .bg{
    background-image:url("../images/Intro_500.gif");
    background-repeat: no-repeat;
    width:$fullwidth;
    height:125px;
    //padding-top:90%;
    margin-top:20%;
  }
  .jumbotron {
    
    //height: 125px;
    color:white;
    text-shadow: $textshadowprops;
    background:transparent;

    #pronounced{
      float:right;
      color:black;
      font-size:16px;
      opacity:$introparency;
      margin-top:-5%;

    }
  }
}


